.barFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
  }
  .barFriend:hover{
    background-color: rgb(245, 243, 243);
  }
  
  .barFriendImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }